.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
}


.One{
    width: 50%;
    height: 50%;
    margin-bottom: 40px;
    margin: auto;
}


.list{
    width: 50%;
    margin: auto;
}