<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="cms">
    <div class="boxcms">
     <div class="c">C</div> 
     <div class="m">M</div> 
     <div class="s">S</div> 
      
    
    </div>
    <div><h4>Content Management System</h4></div>
    </div>
    <div class="login">
    
    <div class ="login2">
      <div class="loginform">
          <h1>Login</h1><br>
    
          <ion-label position="stacked" class="input">Email</ion-label>
          <ion-input type="text" class="input2"></ion-input>
                
                
          <ion-label position="stacked" class="input">Password</ion-label>
          <ion-input type="password" class="input2"></ion-input>
                  
              <br>
           
                <ion-button  class="btn" color="secondary">Full Button</ion-button>
      </div>
        
      
       
    </div>
    
    </div>
    </div>
</ion-content>
