<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="container">

  <div class="one">

      <div class="users">
          <div><ion-icon ios="ios-person" md="md-person" class="person"></ion-icon></div>
          <div class="number"><h1>203</h1></div>
          <div class="number"><h1>users</h1></div>
        </div>
    
        <div class="payment">Payment records
    
            <dl style="width: 300px">
                <dt>Jan</dt>
                <dd><div id="data-one" class="bar" style="width: 60%">60%</div></dd>
                <dt>Feb</dt>
                <dd><div id="data-two" class="bar" style="width: 80%">80%</div></dd>
                <dt>march</dt>
                <dd><div id="data-three" class="bar" style="width: 64%">64%</div></dd>
                <dt>April</dt>
                <dd><div id="data-four" class="bar" style="width: 97%">97%</div></dd>
                <dt>May</dt>
                <dd><div id="data-one" class="bar" style="width: 60%">60%</div></dd>
                <dt>June</dt>
                <dd><div id="data-two" class="bar" style="width: 80%">80%</div></dd>
                <dt>July</dt>
                <dd><div id="data-three" class="bar" style="width: 64%">64%</div></dd>
                <dt>Augu</dt>
                <dd><div id="data-four" class="bar" style="width: 97%">97%</div></dd>
                </dl>
                <dt>Sep</dt>
                <dd><div id="data-one" class="bar" style="width: 60%">60%</div></dd>
                <dt>Oct</dt>
                <dd><div id="data-two" class="bar" style="width: 80%">80%</div></dd>
                <dt>Nov</dt>
                <dd><div id="data-three" class="bar" style="width: 64%">64%</div></dd>
                <dt>Dec</dt>
                <dd><div id="data-four" class="bar" style="width: 97%">97%</div></dd>
        </div>
  
        
  </div>
   

  <div class="two">

      <div class="rating">
          <h2>Latest rating and reviews</h2>
    <div>1.Name</div>
    
    <div>2.Name</div>
    <div>3.Name</div>
    <div>4.Name</div>
    <div>5.Name</div>
    <div>6.Name</div>
    
        </div>
    
        <div class="booked">
            <h3>Booked Rooms</h3>
        <h2>Standard</h2>
        <h3>Double</h3>
        <h3>delux</h3>
        <h3>single</h3>
        <h3>standard</h3>
        </div>
        
  </div>
   

  
<div></div>




 </div>   
</ion-content>
