
<ion-content >
    <ion-card *ngFor = "let room of Rooms"  class="Card">
       <img src="{{room.image}}" alt=""  class="Card">
        <ion-card-content class="DivOne">
          <div class="One">
              <ion-card-title>
                  {{room.RoomType}}<br/>
                  R
                  {{room.Price}}.00
                   </ion-card-title>
                   <div >
                       <p>
                           {{room.Description}}
                       </p>
                   </div>
          </div>

          <div class="two">
            <button (click)="Delete(room.key)" class="btn1">Delete Room</button>
            <button (click)="Update(room.key)"  class="btn2">Edit Room</button>
         
           
          </div>
         
         
        </ion-card-content>
      </ion-card>
</ion-content>
